<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GADGIN</title>
    <link rel="icon" type="image/PNG" href="stylesheet\img\gadgin.png">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- Bootstrap -->
    <!-- Stylesheets -->

    <!-- Stylesheets -->
    <!-- Fontawesome -->
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <!-- Fontawesome -->
    <link href="https://cdn.jsdelivr.net/npm/boosted@5.3.2/dist/css/boosted.min.css" rel="stylesheet" integrity="sha384-fyenpx19UpfUhZ+SD9o9IdxeIJKE6upKx0B54OcXy1TqnO660Qw9xw6rOASP+eir" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheet/main.css">
    <link rel="stylesheet" href="/stylesheet/homestyle.css">
    <link rel="stylesheet" href="/stylesheet/accountspage.css">
    <link rel="stylesheet" href="/stylesheet/cartstyle.css">

</head>

<body>

    <!-- Header Starts -->
    <%-include('include/_header')%>
    <!-- Header Ends -->


        <!-- MAIN -->
        <div class="container-fluid p-0 main-div">
            <!-- Content -->
            <div class="inner-content-div-user text-white">

                <!-- Cart Heading -->
                <div class="cart-heading gap-2">
                    <div class="">
                        <h4 class="m-0">Cart</h4>
                    </div>
                    <div>
                        <i class="fa-solid fa-cart-shopping cart-icon mb-0" style="color: #ffffff;"></i>
                    </div>
                </div>
                <hr>
                <!-- / Cart Heading -->
                <!-- Cart Content -->
                <div class="cart-content">
                     <div class="cart-items">
                        <!-- Cart-item-card -->
                        <%if(items=="true"){%>
                            <% for(let i=0;i<cartitems.length;i++){%>
                                <div class="cart-item-card">
                                    <div class="img-div">
                                        <img class=" cart-item-img" src="<%=cartitems[i].cartItemsWithDetails[0].images[0]%>">
                                    </div>
                                    <div class="product-details-div">
                                        <div class="product-details-first">
                                            <span class="fw-bold wrap-text-100 pdt-title"><%=cartitems[i].cartItemsWithDetails[0].name%></span>
                                            <div class="qty-selector-div mt-2">Qty:
                                                <select name="quantity" id="quantity" class="qty-selector" data-pid ="/api/cart/updatequantity/<%=cartitems[i].cartItemsWithDetails[0]._id%>">
                                                    <% for(let j=0;j<5;j++){%>
                                                        <option value="<%=j+1%>" <%=(cartitems[i].cartitems.quantity==j+1)?"selected":''%>><%=j+1%></option>
                                                    <% }%>
                                                  </select>
                                            </div>
                                            <!-- Mobile -->
                                            <div class="price-details-mobile">
                                                <div class="product-details-second">
                                                    <ul class="d-flex gap-2 align-items-center">
                                                         <li class="fw-bold" ><input type="number" id="price" class="d-none" value="<%=cartitems[i].cartItemsWithDetails[0].price%>">₹<%=cartitems[i].cartItemsWithDetails[0].price%></li>
                                                         <li><s class="small-text" ><input type="number" id="mrp" class="d-none" value="<%=cartitems[i].cartItemsWithDetails[0].mrp%>">₹<%=cartitems[i].cartItemsWithDetails[0].mrp%></s></li>
                                                         <li><input type="number" id="discountp" class="d-none" value="<%=cartitems[i].cartItemsWithDetails[0].discount%>"><%=cartitems[i].cartItemsWithDetails[0].discount%>%</li>
                                                    </ul>
                                                 </div>
                                                 <div class="remove-btn-div-mobile mt-2">
                                                     <button class="remove-btn">REMOVE</button>
                                                 </div>
                                            </div>
                                            <!-- Mobile -->
                                        </div>
                                        <div class="product-details-second hideme">
                                           <ul>
                                                <li class="fw-bold"><%=cartitems[i].cartItemsWithDetails[0].price%></li>
                                                <li><s class="small-text"><%=cartitems[i].cartItemsWithDetails[0].mrp%></s></li>
                                                <li> <%=cartitems[i].cartItemsWithDetails[0].discount%>%</li>
                                           </ul>
                                        </div>
                                        <div class="product-details-third hideme">
                                            <button class="remove-btn"><a href="/api/cart/delete/<%=cartitems[i].cartItemsWithDetails[0]._id%>">REMOVE</a> </button>
                                        </div>
                                    </div>
                                </div>
                                <%}%>
                        <%}else{%>
                            <div>No item</div>
                        <%}%>
                        
                         <!-- Cart-item-card -->

                     </div>
                     <div class="cart-calculations">
                        <div class="calc-div-row">
                            <span class="fw-bold">PRICE DETAILS</span>
                        </div>
                        
                        <div class="calc-div-row">
                            <div><span>Price:(<span id="count"></span>)</span></div>
                            <div>₹<span id="totalmrp"></span></div>
                        </div>
                        <div class="calc-div-row">
                            <div><span>Shipping:</span></div>
                            <div><span>Free</span></div>
                        </div>
                        <div class="calc-div-row">
                            <div><span>Discount:</span></div>
                            <div>-₹<span id="discount"></div>
                        </div>
                        <!-- <div class="calc-div-row">
                            <div><span>Coupon Code:</span></div>
                            <div><span>SBK100</span></div>
                        </div> -->
                        <hr>
                        <div class="calc-div-row fw-bold">
                            <div><span>Total:</span></div>
                            <div>₹<span id="total">88,540</span></div>
                        </div>
                        <div class="calc-div-row">
                            <div><input class="coupon-input" type="text" placeholder="Coupon Code"></div>
                            <div><button class="apply-btn">Apply</button></div>
                        </div>
                        <div class="d-flex justify-content-center mt-3">
                            <button class="payment-btn fw-bold">Proceed to Payment</button>
                        </div>
                     </div>
                </div>
                <!-- /Cart Content -->


                
            </div>
            
            <!-- /Content -->

        </div>
        <!-- /MAIN -->



        <!-- Footer -->
        <%- include('include/_footer') %>
        <!-- Footer -->
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="/js/cartcalc.js"></script>
        <script src="/js/cartupdateAJAX.js"></script>
        
    </body>

</html>