<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GADGIN</title>
    <link rel="icon" type="image/PNG" href="stylesheet\img\gadgin.png">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- Bootstrap -->
    <!-- Stylesheets -->

    <!-- Stylesheets -->
    <!-- Fontawesome -->
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <!-- Fontawesome -->
    <link href="https://cdn.jsdelivr.net/npm/boosted@5.3.2/dist/css/boosted.min.css" rel="stylesheet"
        integrity="sha384-fyenpx19UpfUhZ+SD9o9IdxeIJKE6upKx0B54OcXy1TqnO660Qw9xw6rOASP+eir" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheet/main.css">
    <link rel="stylesheet" href="/stylesheet/homestyle.css">
    <link rel="stylesheet" href="/stylesheet/accountspage.css">
    <link rel="stylesheet" href="/stylesheet/cartstyle.css">
    <link rel="stylesheet" href="/stylesheet/userorderstyle.css">

</head>

<body>

    <!-- Header Starts -->
    <%-include('include/_header')%>
        <!-- Header Ends -->


        <!-- MAIN -->
        <div class="container-fluid p-0 main-div">
            <!-- Content -->
            <div class="inner-content-div-user text-white">



                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content addaddress-modal">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Add Address</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="/api/user/addaddress" method="post" id="address-form">
                                    <div class="d-flex gap-4 ">
                                        <div class="d-flex flex-column">
                                            <label for="">Name</label>
                                            <input type="text" placeholder="Name" class="" name="name" id="name">
                                            <%if(messages.nameerror){%>
                                                <div class="mt-2">
                                                    <span class="text-danger">
                                                        <%=messages.nameerror%>
                                                    </span>
                                                </div>
                                                <%}%>
                                        </div>
                                    </div>
                                    <div class="d-flex gap-4 mt-2">
                                        <div class="d-flex flex-column">
                                            <label for="">House/Flat</label>
                                            <!-- <input type="" placeholder="Address" class=""> -->
                                            <textarea name="house" id="house"></textarea>
                                            <%if(messages.houseerror){%>
                                                <div class="mt-2">
                                                    <span class="text-danger">
                                                        <%=messages.houseerror%>
                                                    </span>
                                                </div>
                                                <%}%>
                                        </div>
                                    </div>

                                    <div class="d-flex gap-4 mt-2">
                                        <div class="d-flex flex-column">
                                            <label for="">Phone</label>
                                            <input type="number" placeholder="Phone" name="phone" id="phone">
                                            <span class="text-danger p-1" id="phone-error"></span>
                                            <%if(messages.phoneerror){%>
                                                <div class="mt-2">
                                                    <span class="text-danger">
                                                        <%=messages.phoneerror%>
                                                    </span>
                                                </div>
                                                <%}%>
                                        </div>
                                        <div class="d-flex flex-column">
                                            <label for="">PinCode</label>
                                            <input type="number" placeholder="PIN" name="pin" id="pin">
                                            <span class="text-danger p-1" id="pin-error"></span>
                                            <%if(messages.pinerror){%>
                                                <div class="mt-2">
                                                    <span class="text-danger">
                                                        <%=messages.pinerror%>
                                                    </span>
                                                </div>
                                                <%}%>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center">
                                        <!-- <button class="add-address-btn" type="submit">Submit</button> -->
                                    </div>




                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <%if(messages.success){%>
                    <!-- Sweetalert -->
                    <div id="sweetalert-overlay" class="sweetalert-overlay">
                        <div id="sweetalert">
                            <i class="fa-regular fa-circle-check" style="color: #00ff40;"></i>
                            <p class="text-white fw-bold mt-2">
                                <%=messages.success%>
                            </p>
                            <button id="okBtn" class="m-0">Ok</button>
                            <!-- <button id="cancelBtn">No</button> -->
                        </div>
                    </div>
                    <!-- Sweetalert -->
                    <%}%>


                        <!-- Checkout Heading -->
                        <div class="cart-heading gap-2">
                            <div class="">
                                <h4 class="m-0">Order Summary</h4>
                            </div>
                            <div>

                            </div>
                        </div>
                        <hr>
                        <!-- / Checckout Heading -->
                        <!-- Cart Content -->
                        <div class="cart-content">
                            <div class="address-div-main">
                                <form action="<%=(cartitems)?" /api/checkout/cart":"/api/checkout/buynow"%>"
                                    method="post" >
                                    <span class="fw-bold">Address</span>
                                    <hr class="m-1">
                                    <%if(addresses){%>

                                        <%for(let i=0;i<addresses.address.length;i++){%>
                                            <%if(addresses.address[i].defaultaddress){%>
                                                <div class="address-div">
                                                    <div class="address-details">
                                                        <ul class="address-font">
                                                            <li>
                                                                <%=addresses.address[i].name%>
                                                            </li>
                                                            <li>
                                                                <%=addresses.address[i].house%>
                                                            </li>
                                                            <li>PIN:<%=addresses.address[i].pincode%>
                                                            </li>
                                                            <li>Phone: <%=addresses.address[i].phone%>
                                                            </li>
                                                        </ul>
                                                        <div class="change-btn-div">
                                                            <!-- <button class="change-btn">Change</button> -->
                                                            <input type="radio" name="selectedaddress"
                                                                <%=(addresses.address[i].defaultaddress)?"checked":''%>
                                                            value="<%=addresses.address[i]._id%>">
                                                        </div>

                                                    </div>
                                                </div>
                                                <%}else{%>
                                                    <div class="address-hide" id="hidden-address">
                                                        <div class="address-div">
                                                            <div class="address-details">
                                                                <ul class="address-font">
                                                                    <li>
                                                                        <%=addresses.address[i].name%>
                                                                    </li>
                                                                    <li>
                                                                        <%=addresses.address[i].house%>
                                                                    </li>
                                                                    <li>PIN:<%=addresses.address[i].pincode%>
                                                                    </li>
                                                                    <li>Phone: <%=addresses.address[i].phone%>
                                                                    </li>
                                                                </ul>
                                                                <div class="change-btn-div">
                                                                    <!-- <button class="change-btn">Change</button> -->
                                                                    <input type="radio"
                                                                        value="<%=addresses.address[i]._id%>"
                                                                        name="selectedaddress"
                                                                        <%=(addresses.address[i].defaultaddress)?"checked":''%>>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>

                                                    <%}%>

                                                        <%}%>
                                                            <div>
                                                                <div class="add-address-btn manage-address-btn"
                                                                    id="add-address-btn" data-toggle="modal"
                                                                    data-target="#exampleModalCenter">Add Address</div>
                                                            </div>

                                                            <div class="more-address-link text-info" id="more-address">
                                                                More Address</div>
                                                            <!-- If no address -->
                                                            <%}else{%>
                                                                <div>
                                                                    <div class="add-address-btn manage-address-btn"
                                                                        id="add-address-btn" data-toggle="modal"
                                                                        data-target="#exampleModalCenter">Add Address</div>
                                                                </div>


                                                                <%}%>
                                                                    <div class="items-main-div">
                                                                        <div>
                                                                            <span class="fw-bold">Products</span>
                                                                            <hr class="m-1">
                                                                        </div>
                                                                        <!-- Cart Items -->
                                                                        <%if(cartitems){%>
                                                                            <div>
                                                                                <% for(let
                                                                                    i=0;i<cartitems.length;i++){%>
                                                                                    <div class="cart-item-card">
                                                                                        <div class="img-div">
                                                                                            <img class=" cart-item-img"
                                                                                                src="<%=cartitems[i].cartItemsWithDetails[0].images[0]%>">
                                                                                        </div>
                                                                                        <div
                                                                                            class="product-details-div">
                                                                                            <div
                                                                                                class="product-details-first">
                                                                                                <span
                                                                                                    class="fw-bold wrap-text-100 pdt-title">
                                                                                                    <%=cartitems[i].cartItemsWithDetails[0].name%>
                                                                                                </span>
                                                                                                <div
                                                                                                    class="qty-selector-div mt-2">
                                                                                                    Qty:
                                                                                                    <select
                                                                                                        name="quantity"
                                                                                                        id="quantity"
                                                                                                        class="qty-selector"
                                                                                                        data-pid="/api/cart/updatequantity/<%=cartitems[i].cartItemsWithDetails[0]._id%>">
                                                                                                        <% for(let
                                                                                                            j=1;j<=5;j++){%>
                                                                                                            <%if(cartitems[i].cartItemsWithDetails[0].quantity<j){%>
                                                                                                                <%break;%>
                                                                                                                    <%}%>
                                                                                                                        <option
                                                                                                                            value="<%=j%>"
                                                                                                                            <%=(cartitems[i].cartitems.quantity==j)?"selected":''%>
                                                                                                                            >
                                                                                                                            <%=j%>
                                                                                                                        </option>
                                                                                                                        <%
                                                                                                                            }%>
                                                                                                    </select>
                                                                                                </div>
                                                                                                <!-- Mobile -->
                                                                                                <div
                                                                                                    class="price-details-mobile">
                                                                                                    <div
                                                                                                        class="product-details-second">
                                                                                                        <ul
                                                                                                            class="d-flex gap-2 align-items-center">
                                                                                                            <li
                                                                                                                class="fw-bold">
                                                                                                                <input
                                                                                                                    type="number"
                                                                                                                    id="price"
                                                                                                                    class="d-none"
                                                                                                                    value="<%=cartitems[i].cartItemsWithDetails[0].price%>">₹
                                                                                                                <%=cartitems[i].cartItemsWithDetails[0].price%>
                                                                                                            </li>
                                                                                                            <li><s
                                                                                                                    class="small-text"><input
                                                                                                                        type="number"
                                                                                                                        id="mrp"
                                                                                                                        class="d-none"
                                                                                                                        value="<%=cartitems[i].cartItemsWithDetails[0].mrp%>">₹
                                                                                                                    <%=cartitems[i].cartItemsWithDetails[0].mrp%>
                                                                                                                        </s>
                                                                                                            </li>
                                                                                                            <li><input
                                                                                                                    type="number"
                                                                                                                    id="discountp"
                                                                                                                    class="d-none"
                                                                                                                    value="<%=cartitems[i].cartItemsWithDetails[0].discount%>">
                                                                                                                <%=cartitems[i].cartItemsWithDetails[0].discount%>
                                                                                                                    %
                                                                                                            </li>
                                                                                                        </ul>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <!-- Mobile -->
                                                                                            </div>
                                                                                            <div
                                                                                                class="product-details-second hideme">
                                                                                                <ul>
                                                                                                    <li class="fw-bold">
                                                                                                        <%=cartitems[i].cartItemsWithDetails[0].price%>
                                                                                                    </li>
                                                                                                    <li><s
                                                                                                            class="small-text">
                                                                                                            <%=cartitems[i].cartItemsWithDetails[0].mrp%>
                                                                                                        </s></li>
                                                                                                    <li>
                                                                                                        <%=cartitems[i].cartItemsWithDetails[0].discount%>
                                                                                                            %
                                                                                                    </li>
                                                                                                </ul>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <%}%>
                                                                            </div>
                                                                            <%}%>
                                                                                <!-- Cart Items -->
                                                                                <!-- Single Items -->
                                                                                <%if(!cartitems){%>
                                                                                    <div>
                                                                                        <div class="cart-item-card">
                                                                                            <div class="img-div">
                                                                                                <img class=" cart-item-img"
                                                                                                    src="<%=product.images[0]%>">
                                                                                            </div>
                                                                                            <div
                                                                                                class="product-details-div">
                                                                                                <div
                                                                                                    class="product-details-first">
                                                                                                    <span
                                                                                                        class="fw-bold wrap-text-100 pdt-title">
                                                                                                        <%=product.name%>
                                                                                                    </span>
                                                                                                    <div
                                                                                                        class="qty-selector-div mt-2">
                                                                                                        Qty:
                                                                                                        <select
                                                                                                            name="quantity"
                                                                                                            id="quantity"
                                                                                                            class="qty-selector"
                                                                                                            data-pid="<%=product._id%>">
                                                                                                            <% for(let
                                                                                                                j=1;j<=5;j++){%>
                                                                                                                <%if(product.quantity<j){%>
                                                                                                                    <%break;%>
                                                                                                                        <%}%>
                                                                                                                            <option
                                                                                                                                value="<%=j%>">
                                                                                                                                <%=j%>
                                                                                                                            </option>
                                                                                                                            <%
                                                                                                                                }%>
                                                                                                        </select>
                                                                                                        <input
                                                                                                            type="text"
                                                                                                            class="d-none"
                                                                                                            name="pid"
                                                                                                            value="<%=product._id%>">
                                                                                                    </div>
                                                                                                    <!-- Mobile -->
                                                                                                    <div
                                                                                                        class="price-details-mobile">
                                                                                                        <div
                                                                                                            class="product-details-second">
                                                                                                            <ul
                                                                                                                class="d-flex gap-2 align-items-center">
                                                                                                                <li
                                                                                                                    class="fw-bold">
                                                                                                                    <input
                                                                                                                        type="number"
                                                                                                                        id="price"
                                                                                                                        class="d-none"
                                                                                                                        value="<%=product.price%>">₹
                                                                                                                    <%=product.price%>
                                                                                                                </li>
                                                                                                                <li><s
                                                                                                                        class="small-text"><input
                                                                                                                            type="number"
                                                                                                                            id="mrp"
                                                                                                                            class="d-none"
                                                                                                                            value="<%=product.mrp%>">₹
                                                                                                                        <%=product.mrp%>
                                                                                                                            </s>
                                                                                                                </li>
                                                                                                                <li><input
                                                                                                                        type="number"
                                                                                                                        id="discountp"
                                                                                                                        class="d-none"
                                                                                                                        value="<%=product.discount%>">
                                                                                                                    <%=product.discount%>
                                                                                                                        %
                                                                                                                </li>
                                                                                                            </ul>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <!-- Mobile -->
                                                                                                </div>
                                                                                                <div
                                                                                                    class="product-details-second hideme">
                                                                                                    <ul>
                                                                                                        <li
                                                                                                            class="fw-bold">
                                                                                                            <%=product.price%>
                                                                                                        </li>
                                                                                                        <li><s
                                                                                                                class="small-text">
                                                                                                                <%=product.mrp%>
                                                                                                            </s></li>
                                                                                                        <li>
                                                                                                            <%=product.discount%>
                                                                                                                %
                                                                                                        </li>
                                                                                                    </ul>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>

                                                                                    </div>
                                                                                    <%}%>
                                                                                        <!-- Single Items -->
                                                                    </div>

                            </div>
                            <div class="cart-calculations">
                                <div class="calc-div-row">
                                    <span class="fw-bold">PRICE DETAILS</span>
                                </div>

                                <div class="calc-div-row">
                                    <div><span>Price:(<span id="count"></span>)</span></div>
                                    <div>₹<span id="totalmrp"></span></div>
                                </div>
                                <div class="calc-div-row">
                                    <div><span>Shipping:</span></div>
                                    <div><span>Free</span></div>
                                </div>
                                <div class="calc-div-row">
                                    <div><span>Discount:</span></div>
                                    <div>-₹<span id="discount"></div>
                                </div>
                                <!-- <div class="calc-div-row">
                            <div><span>Coupon Code:</span></div>
                            <div><span>SBK100</span></div>
                        </div> -->
                                <hr>
                                <div class="calc-div-row fw-bold">
                                    <div><span>Total:</span></div>
                                    <div>₹<span id="total"></span></div>
                                </div>
                                <div class="calc-div-row">
                                    <div><input class="coupon-input" type="text" placeholder="Coupon Code"></div>
                                    <div><button class="apply-btn">Apply</button></div>
                                </div>
                                <div class="d-flex justify-content-center mt-3">
                                    <button class="payment-btn fw-bold">Proceed to Payment</button>
                                </div>
                            </div>
                        </div>
                        </form>
                        <!-- /Cart Content -->



            </div>

            <!-- /Content -->

        </div>
        <!-- /MAIN -->



        <!-- Footer -->
        <%- include('include/_footer') %>
            <!-- Footer -->
            <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
            <script src="/js/cartcalc.js"></script>
            <script src="/js/cartupdateAJAX.js"></script>

            <script>
                document.getElementById('more-address').addEventListener('click', () => {
                    document.querySelectorAll("#hidden-address").forEach((item) => {
                        item.classList.remove("address-hide");
                    })
                    document.getElementById('more-address').classList.add("address-hide")
                })
                document.getElementById('add-address-btn').addEventListener('click', (e) => {

                })
                document.getElementById('okBtn').addEventListener('click', () => {
                    document.getElementById('sweetalert-overlay').classList.add("hidemee");
                })

            </script>
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>

</body>

</html>